## If Conditionals

In [1]:
if 5>0:
    print("it's true")

it's true

In [2]:
hungry=False
if hungry:
    print("feed me")
else:
    print("im not hungry")

im not hungry

In [3]:
loc="Bank"

if loc=="auto shop":
    print("cars are cool")
elif loc=="Bank":
    print("Money money money!")
else:
    print("I don't know that place")

Money money money!

## FOR Loops

In [4]:
my_iterable=[1,2.0,"three",4]

for i in my_iterable:
    print(i," is a ",type(i),".")

1  is a  <class 'int'> .
2.0  is a  <class 'float'> .
three  is a  <class 'str'> .
4  is a  <class 'int'> .

In [5]:
for i in range(10):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(i)

0 is even
1
2 is even
3
4 is even
5
6 is even
7
8 is even
9

In [6]:
for _ in "world":
    print(_)

w
o
r
l
d

In [7]:
mytuples=[(1,2),(3,4,5)]

In [8]:
mytuples

[(1, 2), (3, 4, 5)]

In [9]:
len(mytuples)

2

In [10]:
for i in mytuples:
    print(i)

(1, 2)
(3, 4, 5)

In [11]:
mytuples=[(1,2),(3,4),(5,6),(7,8)]

In [12]:
for (a,b) in mytuples:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [13]:
d={'k1':734,'k2':2,'k3':3}

In [14]:
d

{'k1': 734, 'k2': 2, 'k3': 3}

In [15]:
for i in d:
    print(i)

k1
k2
k3

In [16]:
for i in d.items():
    print(i)

('k1', 734)
('k2', 2)
('k3', 3)

In [17]:
for i in d.values():
    print(i)

734
2
3

In [18]:
for k,v in d:
    print(k)
    print(v)

k
1
k
2
k
3

In [19]:
for k,v in d.items():
    print(k)
    print(v)

k1
734
k2
2
k3
3

## WHILE Loops

In [20]:
x=0

while x<5:
    print(f'x is {x}')
    x+=1

x is 0
x is 1
x is 2
x is 3
x is 4

## Useful Operators

In [21]:
for i in range(10):
    # pass lets us fill out the loop without an error
    pass

In [22]:
for i in "Sammy":
    if i=="m":
        continue
    print(i)

S
a
y

In [23]:
for i in "Sammy":
    if i=="m":
        break
    print(i)

S
a

In [24]:
index_count=0

for i in "abcdef":
    print('At index {} the letter is {}.'.format(index_count,i))
    index_count+=1

At index 0 the letter is a.
At index 1 the letter is b.
At index 2 the letter is c.
At index 3 the letter is d.
At index 4 the letter is e.
At index 5 the letter is f.

In [25]:
for i in "abcdef":
    print(i)

a
b
c
d
e
f

In [26]:
for i in enumerate("abcdef"):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [27]:
for i,l in enumerate("abcdef"):
    print(i,'\t',l)

0 	 a
1 	 b
2 	 c
3 	 d
4 	 e
5 	 f

In [28]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [29]:
zip(mylist1,mylist2)

In [30]:
for i in zip(mylist1,mylist2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [31]:
mylist3=[100,200,300]

In [32]:
for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [33]:
# Convert it into a list
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

### The "in" operator

In [34]:
1 in [1,2,3]

True

In [35]:
'2' in [1,2,3]

False

In [36]:
'x' in [1,2,'xavier']

False

In [37]:
'x' in [1,2,'xavier'][2]

True

In [38]:
'x' in [1,2,'x','xavier']

True

In [39]:
'x' in 'xavier'

True

In [40]:
345 in {'mykey',345}

True

### Min and Max

In [41]:
min(mylist3)

100

In [42]:
from random import shuffle

In [43]:
ls=list(range(1,11))

In [44]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# shuffle is an in place operation
shuffle(ls)

In [46]:
ls

[3, 6, 10, 7, 5, 1, 9, 2, 8, 4]

In [47]:
from random import randint

In [48]:
#Random Integer in range
randint(0,10)

2

In [49]:
mynum=randint(0,10)

In [50]:
print(mynum)

0

In [51]:
name=input("What is your name:")

What is your name: steph

In [52]:
print("Hello",name)

Hello steph

In [53]:
#input defaults as type string
num=input("enter a number")
float(num)

enter a number 5

5.0

# List comprehensions in python

In [54]:
mystring='hello'

In [55]:
mylist=[]

In [56]:
for letter in mystring:
    mylist.append(letter)

In [64]:
mylist

[]

In [65]:
mylist=[]

In [70]:
mylist=[i for i in mystring]

In [71]:
mylist

['h', 'e', 'l', 'l', 'o']

In [72]:
mylist=[i for i in range(0,10)]

In [73]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
 mylist=[i**2 for i in range(0,10)]

In [76]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
mylist=[i for i in range(0,10) if i%2==0]

In [80]:
mylist

[0, 2, 4, 6, 8]

In [81]:
celcius=[0,12,23,43.5]
fahrenheit=[((9/5)*temp+32) for temp in celcius]
fahrenheit

[32.0, 53.6, 73.4, 110.3]

In [83]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [84]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
        
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [85]:
mylist=[x*y for x in [1,2,3] for y in [1,10,100,1000]]
mylist

[1, 10, 100, 1000, 2, 20, 200, 2000, 3, 30, 300, 3000]